<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.aspectj.aspectjrt"
   name="%pluginName"
   version="build.version.eclipse.plugins"
   provider-name="%providerName">

   <runtime>

      <library name="aspectjrt.jar">
         <packages prefixes="org.aspectj"/>
      </library>
      
   </runtime>
      
</plugin>
