# Maven
target/
*.versionsBackup

# Files + directories created during build
aj-build/
build/local.properties
taskdefs/bin

# Log files
log.txt

# Eclipse
.classpath
.project
.settings

# IntelliJ IDEA
*.iml
.idea/

# Visual Studio Code
.vscode

# MacOS X Finder
.DS_Store

# Linux
.attach_pid*

# No idea where these come from
bin/

# Downloaded libraries used during tests + marker file
/lib/provisioned.marker
/lib/ant/
/lib/jdtcore-aj/
/lib/junit/

# AspectJ core dumps
ajcore.*.txt

# When using a RAM disk to speed up development, see how-to in docs/developer/ram-disk/settings-ramdisk.xml
/.mvn/maven.config
/.mvn/settings-ramdisk.xml
