<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.aspectj.ajde.doc"
   name="%pluginName"
   version="build.version.eclipse.plugins"
   provider-name="%providerName">
   
   <runtime>
   </runtime>
   
   <requires>
      <import plugin="org.eclipse.help"/>
   </requires>
   
   <extension point="org.eclipse.help.toc">
      <toc file="toc.xml" primary="true"/>
      <toc file="toc_ajquickref.xml"/>
      <toc file="toc_ajprogguide.xml"/>
      <toc file="toc_ajsemantics.xml"/>
   </extension>  
   
</plugin>
